nav {
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    display: flex;
    padding: 0px;
  }
}

.navLink {
  font-size: 24px;
  padding: 1rem 35px;
  border: none;
  font-weight: bold;
  background: var(--violet);
  color: var(--white);
}
