@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --violet: #2a324b;
  --blue: #58699d;
  --gray: #e1e5ee;
  --white: #fff;
}

* {
  font-family: "Montserrat", serif;
}

body {
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

nav {
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
  }
}

main {
  display: flex;
  justify-content: left;
  background-color: var(--white);
  padding: 50px;
  width: 950px;
  height: 250px;

  h3 {
    color: var(--violet);
    font-size: 28px;
  }

  a {
    color: var(--blue);
  }
}

button {
  font-size: 24px;
  padding: 1rem 35px;
  border: none;
  font-weight: bold;
  background: var(--violet);
  color: var(--white);
}

.active {
  background-color: var(--white);
  color: var(--violet);
}
